# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/

# Environment variables
.env

# Django specific
db.sqlite3
/media/
staticfiles/
*.log

# pipenv files
pipenv-log.txt

# macOS files
.DS_Store

# IDE files
.idea/
*.iml

# Tests cache
.coverage
htmlcov/
.cache/

# Pytest
*.pytest_cache
